/* CUSTOM FONTS */

@font-face {
    font-family: Inter-Light;
    src: url(../fonts/inter/Inter-Light-slnt=0.ttf);
}

@font-face {
    font-family: Inter-Regular;
    src: url(../fonts/inter/Inter-Regular-slnt=0.ttf);
}

@font-face {
    font-family: Inter-Medium;
    src: url(../fonts/inter/Inter-Medium-slnt=0.ttf);
}

@font-face {
    font-family: Inter-Semi-Bold;
    src: url(../fonts/inter/Inter-SemiBold-slnt=0.ttf);
}

@font-face {
    font-family: Inter-Bold;
    src: url(../fonts/inter/Inter-Bold-slnt=0.ttf);
}

@font-face {
    font-family: Inter-Extra-Bold;
    src: url(../fonts/inter/Inter-ExtraBold-slnt=0.ttf);
}

/* MAIN STYLES */

body {
    font-family: Inter-Regular, sans-serif;
}
